.
..
.DS_Store
.Rhistory
.Rprofile
.Rproj.user
.httr-oauth
.Ruserdata
.RData

# Files and file types to ignore; not sensitive.

/.quarto/
/docs/
/_site/
sites_libs/
*.pptx

# The location for all the sensitive data that is individual level.

R/KEEP LOCAL/
Data/Raw/KEEP LOCAL/
Data/Results/KEEP LOCAL/


# API credentials cannot be shared. Add them to the following environment
# file located in the project root directory and ensure that git is
# ignoring the file. You might need to make the file, as it is no always
# created when an R project is initialized.
#
# Additional directions to creating and setting up the connection are
# provided in scripts where an API key is loaded.

.Renviron

/.quarto/
